body{margin:0;padding:0;background-color: #fff5e4;color: #ff9494;;font-size:12px;overflow:auto;font-family: 'Courier New', Courier, monospace;}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:center;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#ff9494;font-weight: 700;}
#messages{display:none;text-align: center;font-size: 30px;font-weight: 700;}
#elapseClock .digit{font-family:"digit";font-size:40px;text-align: center;font-weight: 700;}
#loveu{padding:5px;font-size:22px;margin-top:25px;margin-right:120px;text-align:right;display:none;font-weight: 700;}
#loveu .signature{margin-top:10px;font-size:20px;font-weight: 700;}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#ff9494;font-weight: 700;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#ff9494;font-weight: 700;}
#code .keyword{color:#ff9494;font-weight: 700;}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#3f7f5f;font-weight: 700;}
#copyright{margin-top:10px;text-align:center;width:100%;color:#ff9494}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#ff9494;font-weight: 700;}
#icon{font-size: 48px;color: #ff9494;margin: 50 px; align-content: center;}
#heartspan{align-content: center;text-align: center;margin: 20px;}
#mainDiv audio{
    opacity: 0;
}
.btn{
    padding: 6px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    font-family: "courier";
    margin-bottom: 10px;
    background-color: #ffe3e1;
    color: #e67373;
    border-radius: 12px;
    border: 2px solid #ffe3e1;
    transition: 0.3s;
}
.btn:hover{
    background-color: #ff9494;
    color: #ffe3e1;
    border: 2px solid #ff9494;
}
.good-morning{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(/pixel-hearts.png);
    background-position: right;
    background-repeat: repeat;
    background-size: contain;
}
.good-morning p{
    padding: 20px;
    border-radius: 99px;
    color: #fff;
    font-weight: 700;
    background-color: #3170df;
    margin-bottom: 10px;
    margin-top: 0;
}
.good-morning p:first-child{
    padding: 20px;
    border-radius: 99px;
    color: #fff;
    font-weight: 700;
    background-color: #ff44cc;
}
.responsive{
    width: 100px;
    border-radius: 8px;
}
/* @media (max-width: 728px){
    #code{
        display: flex;
        justify-content: center;
        margin-top: 0 !important;
        margin-bottom: 25px;
    }
    #content{
        display: flex !important;
        flex-direction: column !important;
    }
    #loveHeart {
        float: left;
        width: 420px;
        height: 375px;
    }
    #words {
        font-family: "sans-serif";
        width: 100%;
        font-size: 16px;
        color: #ff9494;
        font-weight: 700;
        position: absolute;
        top: 500px;
        left: 0;
    }
    #messages{
        font-size: 16px;
    }
    #elapseClock{
        font-size: 10px;
    }
    #loveu{
        font-size: 14px;
        text-align: center;
        margin-right: 0;
    }
} */